/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
.div0 {
  border: 1px solid #000;
  background: #313030;
  height: 50px;
  overflow: hidden;
}

/* line 11, ../sass/style.scss */
.div3 {
  border: 1px solid #000;
  background: #313030;
  height: 500px;
}

/* line 17, ../sass/style.scss */
#img0 {
  max-width: 30px;
  margin-left: 170px;
  margin-top: 10px;
}

/* line 23, ../sass/style.scss */
#img1 {
  max-width: 20px;
  max-height: 20px;
  margin-left: 0px;
  margin-top: 0px;
}

/* line 30, ../sass/style.scss */
#img2 {
  width: 1440px;
  height: 745px;
  margin-left: 0px;
  margin-top: 0px;
  vertical-align: text-top;
}

/* line 38, ../sass/style.scss */
#img3 {
  position: absolute;
  width: 550px;
  height: 400px;
  left: 430px;
  top: 420px;
  vertical-align: text-top;
}

/* line 47, ../sass/style.scss */
#img4 {
  position: absolute;
  width: 100px;
  height: 240px;
  left: 380px;
  top: 580px;
  vertical-align: text-top;
}

/* line 56, ../sass/style.scss */
#img5 {
  position: absolute;
  width: 300px;
  height: 180px;
  left: 780px;
  top: 640px;
  vertical-align: text-top;
}

/* line 65, ../sass/style.scss */
#img6 {
  width: 30px;
  height: 30px;
  left: 0px;
  top: 0px;
}

/* line 72, ../sass/style.scss */
#img7 {
  position: absolute;
  width: 20px;
  height: 30px;
  left: 1135px;
  top: 10px;
}

/* line 80, ../sass/style.scss */
.div0 p {
  position: absolute;
  display: inline;
  font-size: 20px;
  color: white;
  width: 100px;
  left: 210px;
  top: 18px;
}

/* line 89, ../sass/style.scss */
.div0 hr {
  position: absolute;
  display: inline;
  top: 5px;
  border-color: #5A5858;
  left: 310px;
  height: 25px;
}

/* line 98, ../sass/style.scss */
.div0 input {
  position: absolute;
  left: 330px;
  width: 200px;
  top: 12px;
  height: 25px;
  background-color: #5A5858;
}

/* line 107, ../sass/style.scss */
#button0 {
  position: absolute;
  height: 30px;
  width: 80px;
  background: #de8231;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  padding: 3px 4px 3px 4px;
  text-decoration: none;
  font-family: Arial;
  left: 1000px;
  top: 10px;
}

/* line 122, ../sass/style.scss */
#button1 {
  position: absolute;
  height: 30px;
  width: 40px;
  background: #de8231;
  border-radius: 5px;
  color: #ffffff;
  padding: 3px 4px 3px 4px;
  text-decoration: none;
  font-family: Arial;
  left: 1085px;
  top: 10px;
}

/* line 136, ../sass/style.scss */
#button2 {
  position: absolute;
  height: 50px;
  width: 180px;
  background: #1F7EB2;
  border-radius: 5px;
  color: #ffffff;
  padding: 3px 4px 3px 4px;
  text-decoration: none;
  font-family: Arial;
  left: 530px;
  top: 330px;
  font-size: 20px;
}

/* line 151, ../sass/style.scss */
#button3 {
  position: absolute;
  height: 50px;
  width: 100px;
  color: white;
  border-radius: 5px;
  padding: 3px 4px 3px 4px;
  text-decoration: none;
  font-family: Arial;
  left: 730px;
  top: 330px;
  font-size: 14px;
  background-color: rgba(250, 250, 250, 0.5);
  filter: alpha(opacity=50);
  border: none;
}

/* line 168, ../sass/style.scss */
#button4 {
  clear: left;
  display: block;
  height: 50px;
  width: 220px;
  color: #085C84;
  border-radius: 5px;
  padding: 3px 4px 3px 4px;
  text-decoration: none;
  font-family: Arial;
  margin-left: 580px;
  margin-top: 160px;
  font-size: 24px;
  background-color: white;
  border: none;
}

/* line 186, ../sass/style.scss */
.div1 {
  border: 1px solid #000;
  background: #7B7979;
  height: 25px;
}

/* line 192, ../sass/style.scss */
#firstLi {
  margin-left: 200px;
}

/* line 196, ../sass/style.scss */
#secondLi {
  margin-left: 250px;
}

/* line 200, ../sass/style.scss */
#thirdLi {
  margin-left: 230px;
}

/* line 204, ../sass/style.scss */
#forthLi {
  margin-left: 220px;
}

/* line 208, ../sass/style.scss */
.div1 li {
  float: left;
  margin-left: 60px;
  margin-top: 5px;
  color: #F4ECEC;
  font-size: 12px;
}

/* line 216, ../sass/style.scss */
.ul1 li {
  float: left;
  margin-left: 150px;
  margin-top: 30px;
  color: #F2EEEE;
  font-size: 24px;
}

/* line 224, ../sass/style.scss */
.ul2 li {
  float: left;
  margin-left: 150px;
  margin-top: 10px;
  color: #CFCDCD;
  font-size: 20px;
}

/* line 232, ../sass/style.scss */
.div2 {
  height: 745px;
}

/* line 236, ../sass/style.scss */
.p1 {
  position: absolute;
  color: white;
  font-size: 52px;
  left: 400px;
  top: 200px;
  font-style: normal;
}

/* line 245, ../sass/style.scss */
.p2 {
  position: absolute;
  color: white;
  font-size: 22px;
  left: 420px;
  top: 270px;
}

/* line 253, ../sass/style.scss */
.p3 {
  color: #F2EEEE;
  font-size: 24px;
  margin-left: 420px;
  margin-top: 40px;
}

/* line 260, ../sass/style.scss */
.p4 {
  color: #F2EEEE;
  font-size: 24px;
  margin-left: 530px;
  margin-top: 10px;
}

/* line 267, ../sass/style.scss */
.p5 {
  color: #F2EEEE;
  font-size: 14px;
  margin-left: 610px;
  margin-top: 50px;
}

/* line 274, ../sass/style.scss */
.div3 hr {
  margin-top: 50px;
  margin-left: 650px;
  border-color: #5A5858;
}
